# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: d06d8185f5e4b601fb87572dd00b8ae1a9dca55810f6bcbd65438afc6e19be35cc24f5ba303676491f39eecc4bdb2db368d7a22c730f6c0101ca2f1c676ced70

test:
  secret_key_base: 2feeb1de7704fbc4d459165ba8c0c320f2984d8faf18d8c3044d838a47c2aa148083c00716bfdb8fa98136afcb699af6b152eabee3d35345896102696d86ca8e

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
